.alert-text {
    text-align: left;
    padding-left: 2rem;
    margin-bottom: 0.5rem;
}

.todo {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(172.7deg, 
        #FFD370 5.12%, #FFD370 53.33%, 
        #FFD370 53.44%, #FFFFFF 53.45%, 
        #FFFFFF 94.32%
    );
}

.todo-container {
    height: 600px;
    min-height: 500px;
}

.input-todo {
    border-radius: var(--border-radius-base);
    background-color: var(--color-white-hex);
    box-shadow: var(--size-shadow) var(--color-shadow-hex);
}

.input-todo .btn-plus svg {
    width: 20px;
    height: 20px;
    stroke-width: 2px;
}

.todo-list {
    border-radius: var(--border-radius-base);
    background-color: var(--color-white-hex);
    box-shadow: var(--size-shadow) var(--color-shadow-hex);
    overflow: hidden;
}

.todo-tab {
    height: 52px;
}

.todo-tab button {
    color: var(--color-text-secondary-hex);
    border-radius: none;
}

.todo-tab .active {
    color: var(--color-text-primary-hex);
    border-bottom: 2px solid var(--color-text-primary-hex);
}

.todo-list ul .todo-item {
    border-bottom: 1px solid var(--color-border-hex);
}

.todo-list ul .todo-item .toggle-status {
    border-radius: calc(var(--border-radius-base) / 2);
    border: 1px solid var(--color-border-secondary-hex);
    width: 20px;
    height: 20px;
}

.todo-list ul .todo-item .icon-check {
    color: var(--color-main-hex);
    transform: scale(1.5);
    width: 18px;
    stroke-width: 1px;
}

.todo-list .todo-item .item-finished {
    text-decoration: line-through;
}

.todo-list ul .todo-item .btn-delete {
    display: none;
    font-family: "Apple LiGothic";
    transform: rotate(45deg);
    font-size: 1.5rem;
}

.todo-list ul .todo-item:hover .btn-delete {
    display: block;
}