.alert-text {
    text-align: left;
    padding-left: 2rem;
    margin-bottom: 0.5rem;
}

.todo {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(172.7deg, 
        #FFD370 5.12%, #FFD370 53.33%, 
        #FFD370 53.44%, #FFFFFF 53.45%, 
        #FFFFFF 94.32%
    );
}

.todo-container {
    height: 600px;
    min-height: 500px;
}

.input-todo {
    border-radius: var(--border-radius-base);
    background-color: var(--color-white);
    box-shadow: var(--size-shadow) var(--color-shadow-hex);
}