@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* colors */
    --color-main-hex: #ffd370;
    --color-white-hex: #ffffff;
    --color-btn-bgc-hex: #333333;
    --color-text-invalid-hex: #d87355;
    --color-shadow-hex: #00000026;
    --color-text-primary-hex: var(--color-btn-bgc-hex);
    --color-text-secondary-hex: #9F9A91;

    /* padding */
    --padding-btn: 12px 48px;
    --padding-input: 12px 16px;

    /* border-radius */
    --border-radius-base: 10px;

    /* size */
    --size-shadow: 0px 0px 15px 0px;
}

* {
    font-family: "American Typewriter", "Apple LiGothic", "Microsoft JhengHei";
    box-sizing: border-box;
    position: relative;
    /* border: 1px solid #000 !important; */
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--color-main-hex);
}

input {
    padding: var(--padding-input);
    border-radius: var(--border-radius-base);
}

input:focus-visible {
    outline: 2px solid var(--color-btn-bgc-hex);
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.text-invalid {
    color: var(--color-text-invalid-hex);
}

.btn-primary {
    background-color: var(--color-btn-bgc-hex);
    padding: var(--padding-btn);
    border-radius: var(--border-radius-base);
    color: var(--color-white-hex);
}

.btn-secondary {
    color: var(--color-btn-bgc-hex);
}